  .topnav {
    overflow: hidden;
    background: linear-gradient(180deg, #50D1E2 0.31%, rgba(80, 209, 226, 0.17) 44.06%, rgba(80, 209, 226, 0.98) 91.98%);
    width: 1150px;
    height: 60px;
  }

  
  .search-container{
    position: absolute;
    width: 506px;
    height: 42px;
    left: 783px;
    top: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  
  
  .topnav input[type=text] {
    width: 417px;
    padding: 6px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    color: #979797;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .topnav input[type=text] :hover{
    border: none;
  }
  
  .topnav .search-container {
    align-self: center;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }


  .nav{
    margin-left: 386px; 
    box-sizing: border-box;
  }

  .time{
    position: absolute;
    width: 64px;
    height: 34px;
    left: 402px;
    top: 11px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;

    color: #000000;
  }

  .avatar{
    position: absolute;
    width: 77px;
    height: 57px;
    left: 1459px;
    top: 2px;

  }

  #searchicon{
    cursor: pointer;
    display:none;
  }

  

  
  
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
     .topnav input[type=text], .topnav .search-container {
      float: none;
      display: flex;
      text-align: left;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc; 
      width: 100%; 
    }

    .topnav{
      
      width: 100%;
      height: auto;
    }
    .search-container{
      position: unset!important;
      
    }
    .nav{
      margin-left:0!important;
    }
    .time , .avatar{
      position: unset!important;
      
    }
  }

  @media screen and (max-width: 800px) {
    .topnav *{
      vertical-align: middle;
    }

    .topnav .search-container {
      float: none;
    }
     .topnav input[type=text], .topnav .search-container {
      float: none;
      display: flex;
      text-align: left;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc; 
      width: 100%; 
    }

    .topnav{
    
      width: 100%;
      height: auto;
    }
    .search-container{
      position: unset!important;
      
    }
    .nav{
      margin-left:0!important;
    }
    .time , .avatar{
      position: unset!important;
      
    }
  }

  

  
  
  